VITE_SUPABASE_URL=https://jqkavhiaqsvnsevewtqt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impxa2F2aGlhcXN2bnNldmV3dHF0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ4OTUxNzgsImV4cCI6MjA3MDQ3MTE3OH0.tcFoZiIIuziVzzB6nhxkE73asgmN-8Js9vco_wvpDKM